.icon-font {
  font-family: 'iconfont' !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  text-align: center;
}

.ant-popover-inner-content {
  padding: 5px 10px;
}

:root {
  --layout-height: 60px;
  --main-color: #01bb35;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
